body {
    margin-top: 60px;
    font-size: 16px;
}


.navbar-default {
    background-color:white;
    border: 0px;
}

.navbar-brand {
    size: 25px;
    font-weight: bold; 

}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

#social-small {
    padding-right:10px;
}

#home-heading {
    padding-top: 50px;
    
}

#home {
    background-color: #f3f3f3;
    padding-top: 40px;
    padding-bottom: 80px;
}

#about {
    padding-top: 40px;
}

#projects {
    background-color: #f3f3f3;
    padding-top: 40px;
    

}

#project-example {
    padding-top: 50px;
    padding-bottom: 50px;
}

#proj-btn {
    margin: 5px;
}

#trivia-img {
    max-width: 300px;
}

#skills {
    padding-top: 40px;
    padding-bottom: 20px;
}

#contact {
   padding-top: 40px;
   background-color: #f3f3f3;
   text-align: center;
}