#trivia-box {
    background-color: #333333;
    color: white;
    padding: 20px;
}

#number-view {
    display: none;
}

#random-view {
    display: none;
}

.nav-item {
    cursor: pointer;
}

#btn-nav {
    margin: 20px;
}


#number-trivia {
    display: none;
}

#fact {
    display: none;
}




